.theme-button-container {
  display: flex;
  justify-content: center;
  // height: 1.875rem;
  background: transparent;
  border: 0;


  .button-theme {
    border: 0;
    cursor: pointer;
    flex: 1;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }  
}