.question {
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 2px 12px var(--shadow);
  padding: 1.5rem;

  & +.question {
    margin-top: 0.5rem;
  }

  
  &.highlighted {
    background: var(--white-highlighted);
    border: 1px solid var(--purple);
    
    footer .user-info span {
      color: var(--black);
    }
  }
  
  &.answered {
    background: var(--white-answered);
  }

  p {
    color: var(--black);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      > span {
        margin-left: 0.5rem;
        color: var(--grey);
        font-size: 0.875rem;
      }      
    }

    > div {
      display: flex;
      gap: 1rem;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--grey);
        gap: 0.5rem;
        transition: filter 0.2s;

        &.liked {
          color: var(--purple);

          svg path {
            stroke: var(--purple);
          }
        }
      }

      &:hover {
        filter: var(--brightness);
      }
    }
  }
}